
body{background-color: LavenderBlush}
.nav{
  height: 70px;
  border-bottom: 1px solid black;
  display: flex; /*가로정렬*/
  align-items: center;
  } /*.nav에 margin-left 넣는거랑 nav-right-times로 한번
  더 묶어서 margin-left 하는거랑 차이있음, 근데 왜인지 모르겠음*/
.nav-right-items{
  display: flex;
  margin-left: auto;
}
.nav-item{
  margin-left: 10px;
}
.main{
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}
.title{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
.subtitle{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}
.prices{
  display: flex;
  margin-top: 60px;
  background: ##FFF5EE;
}
.price-item{
  width: 300px;
  height: 350px;
  border: 1px solid gray;
  margin: 20px;
  border-radius: 6px;
  text-align: center;
}
.price-item-title{
  font-size: 1.5rem;
  background: #FFB6C1;
  text-align: center;
  height: 53px;
  line-height: 53px; /*글자 중간 정렬*/
  border-bottom: 1px solid black;
}
.price-item-price{
  font-size: 2.5rem;
  font-weight: bold;
  padding: 20px;
}
.price-item-detail{
  text-align: center;
  font-size: 1rem;
}
.price-item-button{
color: #FF69B4;
background-color: #FFB6C1;
background-image: none;
border-color:	#FFFFFF;
padding: .5rem 1rem;
font-size: 1.5rem;
line-height: 1.5;
border-radius: .3rem;
margin-top: 40px;
}
#active{
background-color: #007bff;
color: white;
}
